n8n-pharmacy-chat-workflow.json
{
  "name": "farmacia-vanaci-chat-workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "farmacia-chat",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        912,
        432
      ],
      "id": "webhook-entrada",
      "name": "Webhook Entrada",
      "webhookId": "farmacia-chat-webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1280,
        656
      ],
      "id": "reescritor-memory",
      "name": "Reescritor Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Você é um Agente de Clareza de Mensagens para uma farmácia. Sua principal função é reescrever e expandir as mensagens curtas ou ambíguas dos clientes para torná-las mais compreensíveis e interpretáveis, mantendo sempre a intenção original.\n\nSeu objetivo é garantir que cada comunicação do cliente seja inequívoca, como se o cliente tivesse falado de forma completa e detalhada desde o início.\n\nRegras Essenciais:\n\n1. Preservar a Intenção: Nunca altere o significado ou a intenção por trás da mensagem original do cliente.\n2. Contexto de Farmácia: As interações serão sobre medicamentos, produtos farmacêuticos, carrinho de compras, etc.\n3. Expansão Consciente:\n   - Afirmações Curtas: Se o cliente disser \"sim\", \"quero\", \"ok\", expanda para algo como \"Sim, eu quero isso\".\n   - Pedidos Específicos: Se o cliente mencionar apenas um medicamento, adicione contexto. Ex: \"dipirona\" deve ser \"Eu gostaria de comprar dipirona\".\n   - Negativas: Se o cliente disser \"não\", expanda para \"Não, eu não quero isso\".\n\n4. Linguagem Natural e Profissional: As mensagens reescritas devem soar naturais e manter um tom profissional.\n\nExemplos:\n- Cliente: \"sim\" → \"Sim, eu quero isso.\"\n- Cliente: \"dipirona\" → \"Eu estou procurando dipirona.\"\n- Cliente: \"adicionar carrinho\" → \"Eu gostaria de adicionar este produto ao carrinho.\"\n\nSua tarefa é receber a mensagem do cliente e fornecer apenas a versão reescrita e clara dessa mensagem."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1328,
        432
      ],
      "id": "reescritor-agente",
      "name": "Reescritor"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook Entrada').item.json.body.sessionId }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1904,
        608
      ],
      "id": "orquestrador-memory",
      "name": "Orquestrador Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook Entrada').item.json.body.message }}",
        "options": {
          "systemMessage": "Você é o agente principal da Farmácia Vanaci. Sua função é coordenar e delegar tarefas para agentes especializados.\n\nVocê tem acesso aos seguintes agentes especializados:\n\n- AgenteBuscarProdutos: Para buscar medicamentos, suplementos e produtos farmacêuticos\n- AgenteGerenciarCarrinho: Para adicionar, remover ou visualizar itens no carrinho\n- AgenteFinalizarCompra: Para processar checkout e finalizar pedidos\n- AgenteNavegacao: Para ajudar na navegação do site\n- AgenteRemoverItens: Para remover produtos específicos do carrinho\n\nQuando o cliente fizer uma solicitação, analise a intenção e delegue para o agente apropriado. Nunca execute tarefas diretamente - sempre use os agentes especializados.\n\nSeja profissional, atencioso e focado em saúde e bem-estar dos clientes. Mantenha as respostas claras e diretas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2224,
        432
      ],
      "id": "orquestrador-principal",
      "name": "Farmacia Orquestrador",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/chat-response",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $('Webhook Entrada').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        432
      ],
      "id": "resposta-final",
      "name": "Resposta Final"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "Você é o agente especializado em busca de produtos da Farmácia Vanaci. Sua única função é processar solicitações de busca de medicamentos, suplementos e produtos farmacêuticos.\n\nQuando receber uma solicitação de busca:\n1. Extraia o termo de busca da mensagem do cliente\n2. Use a ferramenta de busca para encontrar produtos\n3. Retorne os resultados de forma clara e organizada\n\nSempre inclua informações sobre preço, disponibilidade e descrição dos produtos encontrados."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2784,
        800
      ],
      "id": "agente-buscar-produtos",
      "name": "AgenteBuscarProdutos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "Você é o agente especializado em gerenciamento de carrinho da Farmácia Vanaci. Sua função é processar todas as operações relacionadas ao carrinho de compras.\n\nOperações que você pode realizar:\n- Adicionar produtos ao carrinho\n- Visualizar itens do carrinho\n- Atualizar quantidades\n- Calcular totais\n\nSempre confirme as ações realizadas e forneça feedback claro sobre o estado atual do carrinho."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2784,
        960
      ],
      "id": "agente-gerenciar-carrinho",
      "name": "AgenteGerenciarCarrinho"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "Você é o agente especializado em finalização de compras da Farmácia Vanaci. Sua função é processar checkouts e finalizar pedidos.\n\nQuando processar uma compra:\n1. Verifique se há itens no carrinho\n2. Calcule o total final\n3. Processe o checkout\n4. Confirme o pedido\n5. Limpe o carrinho após confirmação\n\nSempre forneça um resumo claro da compra realizada e número de confirmação."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2784,
        1120
      ],
      "id": "agente-finalizar-compra",
      "name": "AgenteFinalizarCompra"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "Você é o agente especializado em navegação da Farmácia Vanaci. Sua função é ajudar clientes a navegar pelo site e encontrar seções específicas.\n\nVocê pode ajudar com:\n- Localizar seções do site\n- Explicar como usar funcionalidades\n- Fornecer orientações de navegação\n- Direcionar para páginas específicas\n\nSempre forneça instruções claras e diretas para ajudar o cliente a encontrar o que precisa."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2784,
        1280
      ],
      "id": "agente-navegacao",
      "name": "AgenteNavegacao"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "Você é o agente especializado em remoção de itens do carrinho da Farmácia Vanaci. Sua função é processar solicitações de remoção de produtos específicos.\n\nQuando processar uma remoção:\n1. Identifique o produto a ser removido\n2. Confirme a remoção com o cliente\n3. Execute a remoção\n4. Atualize o carrinho\n5. Confirme a ação realizada\n\nSempre peça confirmação antes de remover itens e forneça feedback claro sobre o estado do carrinho após a remoção."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2784,
        1440
      ],
      "id": "agente-remover-itens",
      "name": "AgenteRemoverItens"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/products",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $json.searchTerm }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $('Webhook Entrada').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        800
      ],
      "id": "buscar-produtos",
      "name": "buscarProdutos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/cart",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "={{ $json.action }}"
            },
            {
              "name": "productId",
              "value": "={{ $json.productId }}"
            },
            {
              "name": "quantity",
              "value": "={{ $json.quantity }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $('Webhook Entrada').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        960
      ],
      "id": "gerenciar-carrinho",
      "name": "gerenciarCarrinho"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/checkout",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ $('Webhook Entrada').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        1120
      ],
      "id": "finalizar-compra",
      "name": "finalizarCompra"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/navigation",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "section",
              "value": "={{ $json.section }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $('Webhook Entrada').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        1280
      ],
      "id": "navegacao-site",
      "name": "navegacaoSite"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://localhost:3000/api/cart/remove",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "productId",
              "value": "={{ $json.productId }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $('Webhook Entrada').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        1440
      ],
      "id": "remover-itens",
      "name": "removerItens"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.3,
          "maxTokens": 800
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1600,
        656
      ],
      "id": "reescritor-llm",
      "name": "Reescritor LLM"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.4,
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2400,
        608
      ],
      "id": "orquestrador-llm",
      "name": "Orquestrador LLM"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.2,
          "maxTokens": 600
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        3000,
        800
      ],
      "id": "buscar-produtos-llm",
      "name": "BuscarProdutos LLM"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.2,
          "maxTokens": 600
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        3000,
        960
      ],
      "id": "gerenciar-carrinho-llm",
      "name": "GerenciarCarrinho LLM"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.2,
          "maxTokens": 600
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        3000,
        1120
      ],
      "id": "finalizar-compra-llm",
      "name": "FinalizarCompra LLM"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.2,
          "maxTokens": 600
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        3000,
        1280
      ],
      "id": "navegacao-llm",
      "name": "Navegacao LLM"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.2,
          "maxTokens": 600
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        3000,
        1440
      ],
      "id": "remover-itens-llm",
      "name": "RemoverItens LLM"
    }
  ],
  "connections": {
    "Webhook Entrada": {
      "main": [
        [
          {
            "node": "Reescritor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reescritor": {
      "main": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Farmacia Orquestrador": {
      "main": [
        [
          {
            "node": "Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reescritor Memory": {
      "ai_memory": [
        [
          {
            "node": "Reescritor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reescritor LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Reescritor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Orquestrador Memory": {
      "ai_memory": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Orquestrador LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AgenteBuscarProdutos": {
      "ai_tool": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "buscarProdutos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteGerenciarCarrinho": {
      "ai_tool": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ],
      "main": [
        [
          {
            "node": "gerenciarCarrinho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteFinalizarCompra": {
      "ai_tool": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_tool",
            "index": 2
          }
        ]
      ],
      "main": [
        [
          {
            "node": "finalizarCompra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteNavegacao": {
      "ai_tool": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_tool",
            "index": 3
          }
        ]
      ],
      "main": [
        [
          {
            "node": "navegacaoSite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AgenteRemoverItens": {
      "ai_tool": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_tool",
            "index": 4
          }
        ]
      ],
      "main": [
        [
          {
            "node": "removerItens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscarProdutos LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteBuscarProdutos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GerenciarCarrinho LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteGerenciarCarrinho",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "FinalizarCompra LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteFinalizarCompra",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Navegacao LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteNavegacao",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RemoverItens LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteRemoverItens",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "farmacia-vanaci-workflow-instance"
  }
}
