n8n-pharmacy-chat-workflow.json
{
  "name": "farmacia-vanaci-multi-agent-system",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "625a0c49-7cb9-4b91-920f-aa12ed951292",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "pharmacy-chat"
    },
    {
      "parameters": {
        "jsCode": "// Process incoming chat request\nconst userMessage = $input.first().json.message;\nconst chatHistory = $input.first().json.chatHistory || [];\nconst sessionId = $input.first().json.sessionId || `session_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// Create enhanced context for multi-agent system\nconst enhancedContext = {\n  userMessage,\n  chatHistory,\n  sessionId,\n  timestamp: new Date().toISOString(),\n  baseUrl: 'https://vanaci-task-2.vercel.app/api',\n  pharmacyInfo: {\n    name: 'Farmácia Vanaci',\n    platform: 'https://vanaci-task-2.vercel.app',\n    specialties: ['Medications', 'Health products', 'Wellness items']\n  }\n};\n\nreturn enhancedContext;"
      },
      "id": "55e198fe-1799-4cef-bef2-27cdd0b212d6",
      "name": "Process Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "id": "mistral-chat-model-001",
      "name": "Mistral Cloud Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [500, 150]
    },
    {
      "parameters": {
        "sessionIdKey": "sessionId",
        "contextWindowSize": 20
      },
      "id": "memory-node-advanced",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [500, 450]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the Main AI Agent for Farmácia Vanaci, coordinating a sophisticated multi-agent system. Your role is to analyze customer requests and delegate to specialized agents: Product Agent (product searches), Navigation Agent (site navigation), Cart Management Agent (cart operations), and Checkout Agent (order processing). Maintain professional pharmacy service standards and provide seamless customer experience."
        }
      },
      "id": "main-ai-agent-coordinator",
      "name": "Main AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the Product Agent for Farmácia Vanaci. You specialize in product discovery, search, availability checks, price inquiries, and detailed product specifications. You have deep knowledge of medications, health products, and wellness items. Always provide accurate product information and appropriate medical disclaimers."
        }
      },
      "id": "product-search-agent",
      "name": "ProductSearchTool",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [900, 100]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the Navigation Agent for Farmácia Vanaci. You help customers navigate the website, find specific pages, understand site features, and provide guidance on using the platform effectively. You know all site sections, categories, and user interface elements."
        }
      },
      "id": "navigation-agent",
      "name": "Agente Navegador",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the Cart Management Agent for Farmácia Vanaci. You handle all shopping cart operations including adding items, removing items, updating quantities, viewing cart contents, and managing cart state. You maintain session-based cart operations and provide clear cart status updates."
        }
      },
      "id": "cart-management-agent",
      "name": "CartManagementTool",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the Checkout Agent for Farmácia Vanaci. You handle the complete checkout process including order finalization, payment processing, customer information collection, and order confirmation. You ensure secure transactions and provide clear order details."
        }
      },
      "id": "checkout-processing-agent",
      "name": "Agente de checkout",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the Item Removal Agent for Farmácia Vanaci. You specialize in helping customers remove items from their cart, cancel orders, and handle product returns or exchanges. You provide clear guidance on removal processes and policies."
        }
      },
      "id": "item-removal-agent",
      "name": "Agente Removedor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "name": "ProductSearchAPI",
        "description": "API tool for product search and information retrieval",
        "method": "GET",
        "url": "=https://vanaci-task-2.vercel.app/api/products",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $fromAI('query', 'Search term or product name') }}"
            }
          ]
        }
      },
      "id": "product-api-tool",
      "name": "Product API",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "name": "CartAPI",
        "description": "API tool for cart management operations",
        "method": "POST",
        "url": "=https://vanaci-task-2.vercel.app/api/cart/{{ $fromAI('action', 'Cart operation: add, remove, update, or view') }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "productId",
              "value": "={{ $fromAI('productId', 'Product ID') }}"
            },
            {
              "name": "quantity",
              "value": "={{ $fromAI('quantity', 'Quantity') }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $('Process Input').first().json.sessionId }}"
            }
          ]
        }
      },
      "id": "cart-api-tool",
      "name": "Cart API",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "name": "CheckoutAPI",
        "description": "API tool for checkout and order processing",
        "method": "POST",
        "url": "=https://vanaci-task-2.vercel.app/api/checkout",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ $('Process Input').first().json.sessionId }}"
            },
            {
              "name": "customerInfo",
              "value": "={{ $fromAI('customerInfo', 'Customer details') }}"
            },
            {
              "name": "paymentMethod",
              "value": "={{ $fromAI('paymentMethod', 'Payment method') }}"
            }
          ]
        }
      },
      "id": "checkout-api-tool",
      "name": "Checkout API",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [1100, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Input": {
      "main": [
        [
          {
            "node": "Main AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Main AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "ProductSearchTool",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente Navegador",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "CartManagementTool",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente de checkout",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente Removedor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Main AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "ProductSearchTool",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Agente Navegador",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "CartManagementTool",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Agente de checkout",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Agente Removedor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ProductSearchTool": {
      "ai_agent": [
        [
          {
            "node": "Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Navegador": {
      "ai_agent": [
        [
          {
            "node": "Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CartManagementTool": {
      "ai_agent": [
        [
          {
            "node": "Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente de checkout": {
      "ai_agent": [
        [
          {
            "node": "Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente Removedor": {
      "ai_agent": [
        [
          {
            "node": "Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Product API": {
      "ai_tool": [
        [
          {
            "node": "ProductSearchTool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cart API": {
      "ai_tool": [
        [
          {
            "node": "CartManagementTool",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Agente Removedor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Checkout API": {
      "ai_tool": [
        [
          {
            "node": "Agente de checkout",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:30:00.000Z",
  "versionId": "2"
}
