n8n-pharmacy-chat-workflow.json
{
  "name": "farmacia-vanaci-chat-workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "farmacia-chat",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        912,
        432
      ],
      "id": "webhook-entrada",
      "name": "🌐 Webhook Entrada",
      "webhookId": "farmacia-chat-webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1280,
        656
      ],
      "id": "reescritor-memory",
      "name": "💾 Reescritor Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Você é um Agente de Clareza de Mensagens para uma farmácia. Sua principal função é reescrever e expandir as mensagens curtas ou ambíguas dos clientes para torná-las mais compreensíveis e interpretáveis, mantendo sempre a intenção original.\n\nSeu objetivo é garantir que cada comunicação do cliente seja inequívoca, como se o cliente tivesse falado de forma completa e detalhada desde o início.\n\nRegras Essenciais:\n\n1. Preservar a Intenção: Nunca altere o significado ou a intenção por trás da mensagem original do cliente.\n2. Contexto de Farmácia: As interações serão sobre medicamentos, produtos farmacêuticos, carrinho de compras, etc.\n3. Expansão Consciente:\n   - Afirmações Curtas: Se o cliente disser \"sim\", \"quero\", \"ok\", expanda para algo como \"Sim, eu quero isso\".\n   - Pedidos Específicos: Se o cliente mencionar apenas um medicamento, adicione contexto. Ex: \"dipirona\" deve ser \"Eu gostaria de comprar dipirona\".\n   - Negativas: Se o cliente disser \"não\", expanda para \"Não, eu não quero isso\".\n\n4. Linguagem Natural e Profissional: As mensagens reescritas devem soar naturais e manter um tom profissional.\n\nExemplos:\n- Cliente: \"sim\" → \"Sim, eu quero isso.\"\n- Cliente: \"dipirona\" → \"Eu estou procurando dipirona.\"\n- Cliente: \"adicionar carrinho\" → \"Eu gostaria de adicionar este produto ao carrinho.\"\n\nSua tarefa é receber a mensagem do cliente e fornecer apenas a versão reescrita e clara dessa mensagem."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1328,
        432
      ],
      "id": "reescritor-agente",
      "name": "✍️ Reescritor"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('🌐 Webhook Entrada').item.json.body.sessionId }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1904,
        608
      ],
      "id": "orquestrador-memory",
      "name": "💾 Orquestrador Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('🌐 Webhook Entrada').item.json.body.message }}",
        "options": {
          "systemMessage": "Você é o agente principal da Farmácia Vanaci\n\n# TODAS AS REQUESTS PRECISAM PASSAR O SESSION ID COMO PARÂMETRO NO BODY, O SESSION ID É EXCLUSIVAMENTE ESSE {{ $('🌐 Webhook Entrada').item.json.body.sessionId }}\n\n# CASO VOCÊ NÃO PASSE O SESSION ID {{ $('🌐 Webhook Entrada').item.json.body.sessionId }} EM TODAS AS FERRAMENTAS HTTP, O SISTEMA VAI FALHAR\n\n## Use a ferramenta 'Buscar Produtos' para buscar medicamentos, suplementos e produtos farmacêuticos quando o cliente quiser informações sobre produtos, preços, disponibilidade\n\n## Use a ferramenta 'Gerenciar Carrinho' para adicionar, remover ou visualizar itens no carrinho quando o cliente quiser gerenciar seu carrinho de compras\n\n## Use a ferramenta 'Finalizar Compra' para processar checkout e finalizar pedidos quando o cliente quiser finalizar a compra\n\n## Use a ferramenta 'Navegação Site' para ajudar o cliente a navegar pelo site, encontrar seções específicas ou orientações gerais\n\n## Use a ferramenta 'Remover Itens' para remover produtos específicos do carrinho com confirmações de segurança\n\n# Nunca peça o session id para o cliente, não peça login do usuário\n\n# SEMPRE MANDE O SESSION ID {{ $('🌐 Webhook Entrada').item.json.body.sessionId }} COMO PARÂMETRO EM TODAS AS REQUISIÇÕES\n\n# Seja profissional, atencioso e focado em saúde e bem-estar dos clientes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2224,
        432
      ],
      "id": "orquestrador-principal",
      "name": "🏥 Farmácia Orquestrador",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/chat-response",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $('🌐 Webhook Entrada').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        432
      ],
      "id": "resposta-final",
      "name": "📤 Resposta Final"
    },
    {
      "parameters": {
        "toolDescription": "Buscar produtos farmacêuticos",
        "method": "GET",
        "url": "http://localhost:3000/api/products",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('search', 'Termo de busca do produto', 'string') }}"
            },
            {
              "name": "sessionId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sessionId', 'ID da sessão', 'string') }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2784,
        800
      ],
      "id": "buscar-produtos-tool",
      "name": "🔍 Buscar Produtos"
    },
    {
      "parameters": {
        "toolDescription": "Gerenciar carrinho de compras",
        "method": "POST",
        "url": "http://localhost:3000/api/cart",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('action', 'Ação: add, remove, view', 'string') }}"
            },
            {
              "name": "productId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('productId', 'ID do produto', 'string') }}"
            },
            {
              "name": "quantity",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('quantity', 'Quantidade', 'number') }}"
            },
            {
              "name": "sessionId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sessionId', 'ID da sessão', 'string') }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2784,
        960
      ],
      "id": "gerenciar-carrinho-tool",
      "name": "🛒 Gerenciar Carrinho"
    },
    {
      "parameters": {
        "toolDescription": "Finalizar compra e checkout",
        "method": "POST",
        "url": "http://localhost:3000/api/checkout",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sessionId', 'ID da sessão', 'string') }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2784,
        1120
      ],
      "id": "finalizar-compra-tool",
      "name": "💳 Finalizar Compra"
    },
    {
      "parameters": {
        "toolDescription": "Navegação e orientações no site",
        "method": "GET",
        "url": "http://localhost:3000/api/navigation",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "section",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('section', 'Seção do site', 'string') }}"
            },
            {
              "name": "sessionId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sessionId', 'ID da sessão', 'string') }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2784,
        1280
      ],
      "id": "navegacao-site-tool",
      "name": "🧭 Navegação Site"
    },
    {
      "parameters": {
        "toolDescription": "Remover itens específicos do carrinho",
        "method": "DELETE",
        "url": "http://localhost:3000/api/cart/remove",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "productId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('productId', 'ID do produto a remover', 'string') }}"
            },
            {
              "name": "sessionId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sessionId', 'ID da sessão', 'string') }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2784,
        1440
      ],
      "id": "remover-itens-tool",
      "name": "🗑️ Remover Itens"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.3,
          "maxTokens": 800
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1600,
        656
      ],
      "id": "reescritor-llm",
      "name": "🧠 Reescritor LLM"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.4,
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2400,
        608
      ],
      "id": "orquestrador-llm",
      "name": "🧠 Orquestrador LLM"
    }
  ],
  "connections": {
    "🌐 Webhook Entrada": {
      "main": [
        [
          {
            "node": "✍️ Reescritor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Reescritor": {
      "main": [
        [
          {
            "node": "🏥 Farmácia Orquestrador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏥 Farmácia Orquestrador": {
      "main": [
        [
          {
            "node": "📤 Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Reescritor Memory": {
      "ai_memory": [
        [
          {
            "node": "✍️ Reescritor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Reescritor LLM": {
      "ai_languageModel": [
        [
          {
            "node": "✍️ Reescritor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "💾 Orquestrador Memory": {
      "ai_memory": [
        [
          {
            "node": "🏥 Farmácia Orquestrador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Orquestrador LLM": {
      "ai_languageModel": [
        [
          {
            "node": "🏥 Farmácia Orquestrador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Buscar Produtos": {
      "ai_tool": [
        [
          {
            "node": "🏥 Farmácia Orquestrador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🛒 Gerenciar Carrinho": {
      "ai_tool": [
        [
          {
            "node": "🏥 Farmácia Orquestrador",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ]
    },
    "💳 Finalizar Compra": {
      "ai_tool": [
        [
          {
            "node": "🏥 Farmácia Orquestrador",
            "type": "ai_tool",
            "index": 2
          }
        ]
      ]
    },
    "🧭 Navegação Site": {
      "ai_tool": [
        [
          {
            "node": "🏥 Farmácia Orquestrador",
            "type": "ai_tool",
            "index": 3
          }
        ]
      ]
    },
    "🗑️ Remover Itens": {
      "ai_tool": [
        [
          {
            "node": "🏥 Farmácia Orquestrador",
            "type": "ai_tool",
            "index": 4
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "farmacia-vanaci-workflow-instance"
  }
}
