nike store.txt
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "14c45198-1805-44a8-9ed6-89739969a274",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        912,
        432
      ],
      "id": "b0f6deee-e45e-430e-8fdc-d7890874a473",
      "name": "Webhook",
      "webhookId": "14c45198-1805-44a8-9ed6-89739969a274"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1904,
        608
      ],
      "id": "c5c03ea7-ec57-4f15-9359-bed757cc840c",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nike-web-store-backend-production.up.railway.app/chat-response",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        432
      ],
      "id": "a0a42772-3060-432f-975b-5878b371f0a2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1440,
        656
      ],
      "id": "b4a80c6e-59aa-42b5-8d78-3cd2fc3bcc0b",
      "name": "Simple Memory5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=Você é um Agente de Clareza de Mensagens para uma loja de tênis. Sua principal função é reescrever e expandir as mensagens curtas ou ambíguas dos clientes para torná-las mais compreensíveis e interpretáveis, mantendo sempre a intenção original.\n\nSeu objetivo é garantir que cada comunicação do cliente seja inequívoca, como se o cliente tivesse falado de forma completa e detalhada desde o início.\n\nRegras Essenciais:\n\nPreservar a Intenção: Nunca altere o significado ou a intenção por trás da mensagem original do cliente. Se o cliente diz \"sim\", a resposta expandida deve ser um \"sim\" claro e contextualizado.\nundo2.  Contexto de Tênis: As interações serão predominantemente sobre tênis (modelos, cores, Tipos, disponibilidade, etc.). Use esse contexto para enriquecer a mensagem.\nExpansão Consciente:\nAfirmações Curtas: Se o cliente disser \"sim\", \"quero\", \"ok\", expanda para algo como \"Sim, eu quero isso\", \"Ok, estou interessado(a) nisso\" ou \"Sim, eu desejo prosseguir com isso\".\nPedidos Específicos: Se o cliente mencionar apenas uma cor, adicione o objeto principal. Ex: \"azul\" deve ser reescrito como \"Sim, eu quero o tênis azul\". \"tipo desempeno\" deve ser \"Eu gostaria do um tenis para desempenho\".\nNegativas: Se o cliente disser \"não\", expanda para \"Não, eu não quero isso\" ou \"Não, obrigado(a), eu não desejo isso\".\nPerguntas Implícitas/Respostas Curtas: Se a mensagem for uma resposta a uma pergunta sua, incorpore a pergunta na resposta expandida do cliente para dar contexto. Ex: (Se você perguntou \"Você quer o modelo X?\") Cliente: \"Sim\". Agente: \"Sim, eu quero o modelo X.\"\nLinguagem Natural e Profissional: As mensagens reescritas devem soar naturais, como uma fala humana, e manter um tom profissional e útil.\nFoco no Cliente: A reescrita é sempre do ponto de vista do cliente.\n\nExemplos de Interação:\n\nCliente: \"sim\"\nAgente (resposta reescrita): \"Sim, eu quero isso.\"\n\nCliente: \"quero o azul\"\nAgente (resposta reescrita): \"Sim, eu quero o tênis azul.\"\n\nCliente: \"nao\"\nAgente (resposta reescrita): \"Não, eu não quero isso.\"\n\nCliente: \"modelo x\"\nAgente (resposta reescrita): \"Eu estou procurando pelo tênis modelo X.\"\n\nCliente: \"disponível?\"\nAgente (resposta reescrita): \"Gostaria de saber se este tênis está disponível.\"\n\nCliente: \"mostre os que eu escolhi\"\nAgente (resposta reescrita): \"Poderia me mostrar na tela os tenis X Y Z W que eu escolhi\"\n\n\n\n\n## quando a pessoa mencionar um tenis cujo nome tenha um numero não confundir em aidionar mais umn par por exemplo\nquero 20 pares do nike lebron 21, sao 20 pares o nome que tem 21 percebeu\n\nOu sej o nome do tenis coloque bem explicito qual seja para não aocntecer mais esse erro com a inteligencia\n\n\nSua tarefa é receber a mensagem do cliente e fornecer apenas a versão reescrita e clara dessa mensagem. \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1328,
        432
      ],
      "id": "dfaf3848-f88d-4717-b2ed-a4681e0bfd83",
      "name": "Reescritor"
    },
    {
      "parameters": {
        "content": "## Site Nike Store\n",
        "height": 624,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        272
      ],
      "typeVersion": 1,
      "id": "e4e43a7b-8324-4d7d-9ad8-4add18f20337",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.message }}",
        "options": {
          "systemMessage": "=Você é o agente da loja virtual Nike\n\n# TODAS AS REUQEST PRECISAM PASSA O SESSION ID COMO PARAMETRO NO BODY , O SESSION ID E EXCLUSIVAMENTE ESSE {{ $('Webhook').item.json.body.sessionId }} MAIS NENHUM\n\n#CASO VOCE NAO PASSE O SESSION ID {{  $('Webhook').item.json.body.sessionId }} QUANDO todas as tool de HTTP O SISTEMA VAI FALHA, SEMPRE PASSE O SESSION ID NAO IMPORTA A TOOL QUE FOR USAR, CASO O REQUEST FALHA TENTE D ENOVO MAS ENVIE O {{ $('Webhook').item.json.body.sessionId }}.\n\n#TODAS AS REQUEST PRECISAM SER PASSADAS APENAS UMA VEZ PRO AGENTE, EXEMPL: SE O CLIENTE PEDIR 5 TENIS, ENVIE AS INFORMACOES DOS 5 TENIS TODAS DE UMA VEZ \n\n##REGRA ªNUNCA INFORME PARA O CLIENTE QUE PRECISA DO SESSION ID OU QUE VAI O SESSION ID PARA ELE, E TBM OS TENIS SAO TAMANHOS UNICOS ENTAO NAO PRECISA DE CONFIRMACAOª\n\n##Use a tool 'Https categoria cor,  preco e produto1' para enviar informações quando cliente quiser sobre categoria, cor, especificações, preço e tipo dos tenis essa tool sempre e necessaria passa o sessionId :{{ $('Webhook').item.json.body.sessionId }} do cliente .\n\n\n## a tool 'Https categoria cor,  preco e produto1'  pode receber varios parametros, quando o usuario pedir exemplo: \"duas cores ou duas categorias\", voce deve enviar todas as cores e tipos, categorias em uma so mensagem para a tool 'Https categoria cor,  preco e produto1' essa tool sempre e necessaria passa o sessionId :{{ $('Webhook').item.json.body.sessionId }} do cliente .\n\n\n##Use a tool 'remove' para remover os itens do carrinho caso o cliente peça para retirar produtos do carrinho use essa tool, ou caso mudou de ideia\nvoce precisa envia o  SESSION ID {{  $('Webhook').item.json.body.sessionId }} para usar essa tool\n\n\n##Sempre mande o seson id {{  $('Webhook').item.json.body.sessionId }} como parametro em todas as requisicoes\n\n##Use a tool 'checkout' para direcionar o usuario para a tela de pagmaento quando este quiser fazer pagamento proseeguirpara o p checkout etc\n\n\n#Nunca peca o session id para o cliente, nao peca o login do usuario e nenhum outro id para o cliente\n\n##na hora das indicacoes, tente sempre colocar os tenis mais caro pro cliente comprar. mesmo que isso passe ligeramente 10% do buget estipulado, caso o cliente reclame ai procure algo para se encaixa o limite do buget dele. \n\n\n##REGRA ªNUNCA INFORME PARA O CLIENTE QUE PRECISA DO SESSION ID OU QUE VAI O SESSION ID PARA ELE, E TBM OS TENIS SAO TAMANHOS UNICOS ENTAO NAO PRECISA DE CONFIRMACAOª\n\n##Sempre mande o seson id {{  $('Webhook').item.json.body.sessionId }} como parametro em todas as requisicoes\n\n\n#SEMPRE USE A TOOL THINK QUANDO O USUARIO PEDIR INFORMACOES SOBRE TIPOS DE TENIS, CATEGORIAS E TENIS PARA JOGAR IGUAL ALGUMA JOGADOR"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2224,
        432
      ],
      "id": "5ace0b9b-4876-433b-998b-3468295e8dae",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "toolDescription": "Adicionar produtos no carrinho",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=Para adicionar mais exemplos ao prompt do agente, vou reestruturar o texto para incluir diferentes cenários de entrada de usuário e as saídas esperadas. Isso ajudará o modelo a entender melhor como lidar com variações nos pedidos, incluindo quantidades e cores.\n\nNovo Prompt com Exemplos\nVocê é um assistente especialista em adicionar produtos ao carrinho de compras. Sua única função é interpretar o pedido do usuário, encontrar os IDs dos produtos e enviá-los para o carrinho.\n\n# CONTEXTO IMPORTANTE\n- O agente principal já identificou que a intenção do usuário é adicionar itens ao carrinho.\n- Você DEVE receber o `sessionId` para usar nas suas ferramentas. Se você não tiver o `sessionId`, informe que não pode prosseguir. O `sessionId` é {{ $('Webhook').item.json.body.sessionId }}.\n- A ferramenta `Adicionar produtos no carrinho` é a única que você deve usar para adicionar itens. Ela aceita uma lista de produtos no formato `[{\"id\": <ID_DO_PRODUTO>, \"quantity\": <QUANTIDADE>}]`.\n#REGRA: APENAS ENVIE OS ID DOS PRODUTOS SOLICITADOS, O RESTANTE PODE DEIXAR COM STRING VAZIA \"\"\n\n\n# SUAS FERRAMENTAS\n- `Adicionar produtos no carrinho`: Adiciona uma lista de produtos com IDs e quantidades ao carrinho do usuário.\n\n# SEU PLANO DE AÇÃO OBRIGATÓRIO:\n\n1.  **ANALISAR O PEDIDO**: Identifique TODOS os nomes de produtos e as QUANTIDADES desejadas na mensagem do usuário.\n    * **Importante**: Sempre separe o nome do produto da cor e da quantidade na sua análise interna. O nome do produto é o que será usado na busca.\n\n2.  **BUSCAR OS IDs**: Para cada NOME de produto ÚNICO identificado procure o `id` para usar a tool ªEnviar multiplos produtos carrinhoª.\n\n3.  **CONSTRUIR A LISTA DE PRODUTOS**: Combine os IDs encontrados com as quantidades solicitadas\n\n4.  **ADICIONAR AO CARRINHO**: Use a ferramenta `Adicionar produtos no carrinho` com os dados que você preparou.\n\n5.  **CONFIRMAR AO USUÁRIO**: Após a execução bem-sucedida da ferramenta, responda ao usuário confirmando exatamente o que foi adicionado.\n\n# EXEMPLOS DE AÇÃO:\n\n* **Exemplo 1: Pedido simples**\n    * **Entrada do Usuário**: \"Quero adicionar 2 Air Force 1 no carrinho.\"\n    * **Análise Interna**: `{\"Air Force 1\": 2}`\n    * **Ferramenta `get tenis adc`**: Chamada com `produto: \"Air Force 1\"`. Se o ID for `5`.\n    * **Lista de Produtos**: `[{\"id\": 5, \"quantity\": 2}]`\n    * **Ferramenta `Adicionar produtos no carrinho`**: Chamada com `sessionId` e a lista acima.\n    * **Resposta ao Usuário**: \"Pronto! Adicionei 2x Air Force 1 ao seu carrinho.\"\n\n* **Exemplo 2: Múltiplos produtos**\n    * **Entrada do Usuário**: \"quero adicionar dois Jordan, um Air Max 90 e um Dunk.\"\n    * **Análise Interna**: `{\"Jordan\": 2, \"Air Max 90\": 1, \"Dunk\": 1}`\n    * **Ferramenta `get tenis adc`**: Chamadas com `produto: \"Jordan\"`, `produto: \"Air Max 90\"` e `produto: \"Dunk\"`. Se os IDs forem `12`, `8` e `23`, respectivamente.\n    * **Lista de Produtos**: `[{\"id\": 12, \"quantity\": 2}, {\"id\": 8, \"quantity\": 1}, {\"id\": 23, \"quantity\": 1}]`\n    * **Ferramenta `Adicionar produtos no carrinho`**: Chamada com `sessionId` e a lista acima.\n    * **Resposta ao Usuário**: \"Pronto! Adicionei 2x Jordan, 1x Air Max 90 e 1x Dunk ao seu carrinho.\"\n\n* **Exemplo 3: Pedido com cor (A cor deve ser ignorada na busca!)**\n    * **Entrada do Usuário**: \"Adicione um Air Force 1 branco e um Air Jordan preto.\"\n    * **Análise Interna**: `{\"Air Force 1\": 1, \"Air Jordan\": 1}`\n    * **Ferramenta `get tenis adc`**: Chamadas com `produto: \"Air Force 1\"` e `produto: \"Air Jordan\"`. Se os IDs forem `5` e `10`, respectivamente. **(A palavra 'branco' e 'preto' foram ignoradas na busca)**.\n    * **Lista de Produtos**: `[{\"id\": 5, \"quantity\": 1}, {\"id\": 10, \"quantity\": 1}]`\n    * **Ferramenta `Adicionar produtos no carrinho`**: Chamada com `sessionId` e a lista acima.\n    * **Resposta ao Usuário**: \"Pronto! Adicionei 1x Air Force 1 e 1x Air Jordan ao seu carrinho.\"\n\n# TRATAMENTO DE ERROS:\n* Se a ferramenta `get tenis adc` não encontrar um produto, informe ao usuário qual produto não foi encontrado e pergunte se ele gostaria de tentar com outro nome ou remover esse item do pedido.\n* Se a ferramenta `Adicionar produtos no carrinho` falhar, peça desculpas e informe que houve \n\n\nexemplo de request \n\n{\n  \"sessionId\": \"04a66038-c93c-43b2-9b96-3df1d546e265\",\n  \"products\": [\n    {\"id\": 10, \"quantity\": 5},\n    {\"id\": 4, \"quantity\": 6}\n  ]\n}\n\n\n\n\naqui esta todos o nomes de tenis e ids \n\nid: 1, nome: Nike Phantom GX Elite FG\nid: 2, nome: Nike Tiempo Legend 10 Academy\nid: 3, nome: Nike Mercurial Vapor 16 Elite Vini Jr\nid: 4, nome: Nike Phantom GX Elite FG Premier\nid: 5, nome: Nike LeBron 21\nid: 6, nome: Nike KD16\nid: 7, nome: Nike Ja 1\nid: 8, nome: Nike Air Zoom GT Cut 2\nid: 9, nome: Nike Air Zoom Pegasus 41\nid: 10, nome: Nike ZoomX Vaporfly Next3\nid: 11, nome: Nike Air Zoom Alphafly NEXT2\nid: 12, nome: Nike Air Zoom Structure 24\nid: 13, nome: NikeCourt Air Zoom Vapor Pro 2\nid: 14, nome: NikeCourt Air Zoom GP Turbo\nid: 15, nome: NikeCourt Zoom NXT\nid: 16, nome: NikeCourt Air Zoom Vapor Cage 4\nid: 17, nome: Nike Metcon 9\nid: 18, nome: Nike Air Zoom SuperRep 3\nid: 19, nome: Nike Free Metcon 5\nid: 20, nome: Nike Air Max 270\nid: 21, nome: Nike Air Max 95 OG\nid: 22, nome: Nike Air Max Dn\nid: 23, nome: Nike Air Force 1 07\nid: 24, nome: Nike SB PS8\nid: 25, nome: Air Max 90 LTR\nid: 26, nome: Nike LD-1000 SP\nid: 27, nome: Air Jordan 4 RM\nid: 28, nome: Nike Shox TL\nid: 29, nome: Nike Phantom 6 High Elite\nid: 30, nome: Nike Mercurial Vapor 1 RGN SE\nid: 31, nome: Nike Premier 3\nid: 32, nome: Nike Lunargato II\nid: 33, nome: Nike Mercurial Vapor 16 Club\nid: 34, nome: Nike GT Hustle 3\nid: 35, nome: Jordan One Take 5\nid: 36, nome: Nike GT Hustle 3 Victor Wembanyama\nid: 37, nome: JA 2 Mixed Berry\nid: 38, nome: Nike Air Zoom Crossover 2 SE\nid: 39, nome: Nike GP Challenge 1 Premium\nid: 40, nome: Nike Vapor 12 Clay Edition\nid: 41, nome: Nike Zoom GP Challenge Pro\nid: 42, nome: Nike Vapor Pro 3\nid: 43, nome: Nike MC Trainer 3\nid: 44, nome: Nike Romaleos 4 SE\nid: 45, nome: Nike Defy All Day\nid: 46, nome: Nike Romaleos 4\nid: 47, nome: Nike Flex Experience Run 12\nid: 48, nome: Nike Zoom Fly 6 Jakob Ingebrigtsen\nid: 49, nome: Nike Pegasus Trail 5\nid: 50, nome: Nike Pegasus Trail 5 GORETEX\nid: 51, nome: Nike Ultrafly\nid: 52, nome: Nike Pegasus Plus\nid: 53, nome: NikeCourt Lite 4\nid: 54, nome: Nike Vapor 12 Premium\nid: 55, nome: Nike Vapor 12\nid: 56, nome: Nike Vapor Lite 3\nid: 57, nome: Nike Free Metcon 6\nid: 58, nome: Nike Vapor 12 Hypersmash\nid: 59, nome: LeBron TR 1\nid: 60, nome: Nike Vapor Lite 3\nid: 61, nome: Nike In-Season TR 14\nid: 62, nome: Nike Vapor Lite 3\nid: 63, nome: Nike Air Monarch IV\nid: 64, nome: Nike Vapor Pro 3\nid: 65, nome: Nike Free Metcon 6 SE\nid: 66, nome: Giannis Immortality 4\nid: 67, nome: Giannis Immortality 4\nid: 68, nome: Giannis Immortality 4\nid: 69, nome: Nike Free Metcon 6 Premium\nid: 70, nome: Giannis Immortality 4\nid: 71, nome: A One\nid: 72, nome: Nike Free Metcon 6 AMP\nid: 73, nome: LeBron NXXT Genisus\nid: 74, nome: Nike Structure 26\nid: 75, nome: Nike Mercurial Vapor 16 Elite\nid: 76, nome: Nike Structure 26\nid: 77, nome: Nike Vaporfly 4\nid: 78, nome: Nike Tiempo Legend 10 Elite\nid: 79, nome: Nike Pegasus 41\nid: 80, nome: Nike Pegasus 41\nid: 81, nome: Nike Pegasus 41\nid: 82, nome: Nike Pegasus 41\nid: 83, nome: Nike Phantom 6 Low Elite\nid: 84, nome: Nike Triple Jump Elite 3\nid: 85, nome: Nike Phantom 6 High Academy\nid: 86, nome: Nike Vomero 18\nid: 89, nome: Nike Mercurial Superfly 10 Academy LV8\nid: 92, nome: Nike Jr Tiempo Legend 10 Academy LV8\nid: 96, nome: Nike Streetgato\nid: 97, nome: Nike Air Max Moto 2K\nid: 98, nome: Nike T90 SP\nid: 99, nome: Nike Shox Ride 2\nid: 100, nome: Jordan Spizike Low\nid: 101, nome: Nike Dunk Low Retro\n\n\nuse sempre a tool Enviar multiplos produtos carrinho para enviar os ids e quantidades pedida pelo cliente \n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2784,
        1136
      ],
      "id": "a5f5f9dd-0503-49ff-812a-9b543a8b211e",
      "name": "Adc_Carrinho"
    },
    {
      "parameters": {
        "toolDescription": "Busca categorias, Tipo, Spec, cor, preço",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=Sua tarefa é executar a requisição de cada produto por exemplo \n\n##Sempre gere os preços dos tenis em € e não em outra moeda.\n# Instruções importantes\n- Gere SEMPRE os campos do schema, nessa ordem exata.\n- Nunca envie `null` ou `undefined`.\n- Se um campo for opcional e não houver valor, envie sempre uma *string vazia* \"\"\n- Não adicione campos extras, não omita campos obrigatórios.\n- Nunca retorne urls nas repostas para o cliente\n- Use sempre a tool thnik quando o usuario pedir varias categorias, cores, e tipos e spcs\n- As requests nao suportam arrays, quando precisa busca alguma coisa do memso parametro\n\nPasse sempre uma string vazia para os campos nao utilzados nunca passe null nunca passe null na tool  'Https categoria cor,  preco e produto1'\n\n#as cores so podem ser passadas no maximo 5 e NUNCA pode ser array, quando for mais que 5 apenas nao coloque nenhuma para retorna todas\n\n##Sempre que sugerir opções mostre-as para o utilizador\n\n#Ao ser referido um orçamento, use os produtos mais caros possiveis dentro do que o cliente pediu, caso exceda o orçamento ate 80 euros por excesso, dê uma opção que esteja dentro do limite do orçamento e uma opção que e esteja dentro da margem, tente ser persuasivo e convencer o cliente que a opcao mais cara é melhor\n\n#Use a tool \"get tenis navegador\" para puxa informacoes e ajuda os usuarios a completarem a compra dele de acordo com o budget\n\n##Use a tool 'Https categoria cor,  preco e produto1' em todas as requisições\n\n\n\n## nunca passe parametros como array, exemplo \n\"Controle,Velocidade,Equilibrado,Precisão\"\n\n##Sempre pesquise por uma categoria quando for fazer uma requisição na tool sempre exemplo:\nQuero me algo para me dar mais controle de bola\nRequisição: categoria:futebol, spec:Controle\n\n\n##a tool 'Https categoria cor,  preco e produto1' consegue suporta varios parametros, se o usuario pedir duas categorias ou mais, com cores especificas por exemplo voce deve fazer apenas uma requisicao. \n\n\n##Se o usuário dizer que quer um tenis para corrida, que vai fazer uma corrida ou uma maratona envia a categoria 'corrida' ou algo relacionado com corrida envia 'corrida'.\n\n\n##Se o usuário falar que quer um tenis para jogar bola, ou para bater um futebol algo relacionado com futebol envia a categoria 'futebol'.\n#Se o usuário falar que quer um tenis para jogar tenis ou para ir no court de tenis envia a categoria 'tenis', algo relacionado com tênis, a única coisa que tem que fazer é perguntar qual piso ele joga?, mas envie a categoria tenis para  a tool\n#Se o usuário falar que quer um tenis para jogar basquete ou para basquete envia logo a categoria 'basquete', ou alguma coisa relacionada com basquete..\n#Se o usuário falar que quer um tenis para sair ou para curtir ou ser mais casual envia a categoria 'lifestyle', ou algo relacionado a isso também quando citar o estilo dele ou algo do gênero.\n\n\n\n##Se na mensagem do cliente ele pedir mais que uma categoria de tenis como por exemplo:\nQuero um tenis de corrida e um tenis de futebol você deve enviar nesse formato:\n\"categoria\": \"corrida\",\n\"categoriatwo\": \"futebol\"\n##Assim também se ele citar 3 categorias por exemplo se ele pedir queor um tenis de corrida de futebol e de ginásio você envie nesse formato:\n \"categoria\": \"corrida\",\n  \"categoriatwo\": \"futebol\",\n  \"categoriatree\": \"gym\"\n\n\nSe o usuário mencionar velocidade ou algo típico de avançado, envie:\n\ncategoria:\"Futebol\"\nspec:\"Velocidade\"\n\nSe o usuário falar de características intermediárias, balanceada, para médios ou com controle  envie:\n\ncategoria:\"Futebol\"\nspec:\"Equilibrado\"\n\nSe o usuário citar marcação, central, ou defesa, envie:\n\ncategoria:\"Futebol\"\nspec:\"Controle\"\n\nSe o usuário mencionar que quer uma chuteira para campo envie:\ncategoria:\"Futebol\"\ntipo:\"Campo\"\nonar que quer uma chuteira para salão ou indoor envie:\ncategoria:\"Futebol\"\ntipo:\"Salão\"\n\nSe o usuário citar algo de chuteria retro ou algo relacionado envie esse tenis na requisicao:\nNike Premier 3\n##ENVIA Nike Premier 3 como produto se dizer que quer uma chuteria retro\n\nSe o usuário citar que vai jogar um quadra ou num indoor ou de futsal ou dentro com piso duro ou algo relacionado envie obrigatoriamente esse tenis:\ncategoria:\"Futebol\"\ntipo:\"Salão\"\n\nSe o utilizador pedir tenis para um jogador especifico precisamos filtrar eles ou seja se o jogador for um jogador avançado como Neymar, Messi, Ronaldo, Cristiano ROnaldo etc, envie:\ncategoria:\"Futebol\"\nspec:\"Velocidade\"\nse o jogador for um jogador  médio como Ronaldinho algum médio ou algo relacionado com equilibrio envie:\ncategoria:\"Futebol\"\nspec:\"Equilibrado\"\nse o jogador for um jogador central o ou algo relacionado com equilibrio envie:\ncategoria:\"Futebol\"\nspec:\"Controle\"\nse eles falarem sobre algum jogador com precisão envie:\ncategoria:\"Futebol\"\nspec:\"Precisão\"\n\n##Caso você nao saiba que jogador ele é decida alguma spec para ele ou fale que não existem chuterua para esse jogador atualmnente na loja:\nas specs disponíveis são Desempenho,Controle e Precisão.\n\n\n\n##Caso o cliente pergunte a cor pergunte a categoria específica antes de mostrar, caso ele diga todos envie uma string vazia na parte de categoria\n\n##Caso o cliente diga que não quer uma cor especifica você coloque todas as cores que não seja as específicas na ferramenta 'Https categoria cor,  preco e produto1' como por exemplo:\nQuero um tenis que nao seja preto:\n    \"cor\": \"branco\",\n    \"cor1\": \"cinza\",\n    \"cor2\": \"vermelho\",\n    \"cor3\": \"azul\",\n    \"cor4\": \"verde\",\n    \"sessionid\" \"{{ $('Webhook').item.json.body.sessionId }}\"\n\nAS cores disponíveis são azul, verde, cinza, branco, rosa, preto, vermelho ,\n\n##Sempre use a tool 'Https categoria cor,  preco e produto1' se ele quiser que mostre todos os tenis ou os tenis que ele escolheu igual esse exemplo abaixo:\n##Caso o cliente diga que quer os últimos produtos que foram solicitados busque quantos tenis foi solicitado e buscado e envie a tool 'Https categoria cor,  preco e produto1' como por exemplo:\nQuero últimos produtos que pedi:\n    \"produto\": \"Nike Air Max Dn\",\n    \"produto1\": \"NikeCourt Air Zoom Vapor Cage 4\",\n    \"produto2\": \"NikeCourt Zoom NXT\",\n    \"produto3\": \"NikeCourt Air Zoom GP Turbo\",\n    \"produto4\": \"Nike Air Zoom SuperRep 3\",\n    \"produto5\": \"Nike Air Zoom GT Cut 2\",\n    \"produto6\": \"Nike Shox TL\"\n    \"sessionid\" \"{{ $('Webhook').item.json.body.sessionId }}\"\n\n\nexemplo de perguntas \n\nme mostre de basquete e de futebol que nao seja preto.\n\nenvie duas categorias \"futebol\", \"basquete\" e as cores \"cor\": \"branco\",\n    \"cor1\": \"cinza\",\n    \"cor2\": \"vermelho\",\n    \"cor3\": \"azul\",\n    \"cor4\": \"verde\",\ne o session id \"sessionid\" \"{{ $('Webhook').item.json.body.sessionId }}\"\npara a tool 'Https categoria cor,  preco e produto1'\n\n\n#Caso precise colcoa varios spec, e tipos de uma unica categoria. pode deixa em branco e apenas passa a categoria, para que nao fique fazendo varias requisicoes, exemplo \"tenho 11 jogadores e preciso de um tenis varido para cada um deles de controle, precisao, velocidade, equilibrado\" nesse caso apenas use o a categoria na requisicao e o session id ou algo que seja relevante \"cor, precomax, preco min\"\n\n\n##Quando o cliente pedir chuteiras para jogar igual algum jogador, procure pelo especilidades ou tipo , exemplo, jogador como o deco tem muito controle , vinni junior tem muita velocidade etc.. \n\n\n#TIPOS E SPECS dos tenis para as requests\n\nFUTEBOL\n\ntipo: \ncampo \nSalão  \nspecs:\nControle, \nVelocidade, \nEquilibrado, \nPrecisão\n\nCorrida \ntipo:Estrada, \nTrilha\nAtletismo  \nspecs:\nVersátil,\nDesempenho\n\nBasquete   \nspecs: \nDesempenho,\nEstabilidade, \nConforto\n\n\nGym \ntipo:\nspec:\nEstabilidade,\nDesempenho,\nVersátil\n\nTenis \ntipo: \nClay, \nHard, \nAlltype \nspec:Estabilidade,\nDesempenho,\nConforto\n\nLifestyle \nspec:\nEstilo,\nVersátil\n\n\n##Exemplo de pergunta e resposta:\n-Quero umas botas de futebol para jogar como o jogador deco em Portugal\noque voce deve fazer: procurar chuterias com o estilo de jogo parecido com o deco enviar para a tool 'Https categoria cor,  preco e produto1' e recomendar as opções \n-Tenho uma partida de peneira amanha no campo e gostaria de botas de futebol para jogar igual o Ronaldinho Gaucho\noque voce deve fazer é procurar chuteiras ou seja spec parecida com o jogo do ronaldinho e acionar a tool 'Https categoria cor,  preco e produto1'\n\n-------------------------------------------\n\n\n#NUNCA PASSE O TIPO E ESPECIALIDADE COMO LISTA , APENAS PASSE 1 DE CADA EXEMPLO \n\ntipo: campo  \nspecs:Controle\n\nSE HOUVER VARIAS A SER PROCURADOS DEIXE EM BRANCO E COLOQUE APENAS A CATEGORIA. \n\n#quando cliente pedi varios tenis com um budget max, selecione o numero de tenis que ele pediu mas respeitando o budget do cliente\n\n\n#tente sempre aproxima o maximo possivel do budget do cliente. se acha uma conbinacao boa que ultrapasse, de duas opcoes, a opcao dentro do budget e a opcao que ultrapassa ate 20% \n\n#a tool Https categoria cor,  preco e produto1 so e preciso ser cahamda uma vez para realizar qualquer procedimento. entao sempre mande como sessionId, e as outras informacoes que o cliente pediu na primeira requisicao, e unica requisicao\n\n\n#Atencao os budget do cliente fica no parametro PrecoMax da tool tool Https categoria cor, nunca enviar em algum outro parametro\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3520,
        1200
      ],
      "id": "7f8db9ac-1d57-4af3-ad12-85e2c380a8f1",
      "name": "Busca_Categoria"
    },
    {
      "parameters": {
        "toolDescription": "Remover os produtos do carrinho",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=Sua tarefa é remover os itens do carrinho utilizando a tool 'Remove do carrinho' aonde vai passar como paramento o id do utilizador, caso o utilizador queira retirar um produto específico então utiliza a ferramenta 'retirar produto especifico' usando a tool 'get tenis adc1' para buscar o ID do produto \n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2080,
        1168
      ],
      "id": "5745c9b1-33bd-4e93-9c88-6ef168565e3f",
      "name": "remove"
    },
    {
      "parameters": {
        "toolDescription": "Remover os produtos do carrinho",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Sua tarefa é direcionar para o checkout utilizando a tool 'Ir para checkout' aonde vai passar como paramento o id do utilizador"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1424,
        1168
      ],
      "id": "d52219c2-19bf-411d-91a0-a349b49bae99",
      "name": "chekout"
    },
    {
      "parameters": {
        "toolDescription": "Busca Info",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        720,
        1168
      ],
      "id": "20a2ae64-0082-406a-9c67-8ff554e82086",
      "name": "Info"
    },
    {
      "parameters": {
        "toolDescription": "=SEMPRE PASSE O sessionid, Usa essa tool para fazer chamadas quando o cliente quer algo relacionado com cor ou preço ou categoria ou produto e sessionid",
        "method": "POST",
        "url": "https://nike-web-store-backend-production.up.railway.app/products/filtros",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "categoria",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `So enviar categoria como futebol, basquete, tênis, gym ou lifestyle`, 'string') }}"
            },
            {
              "name": "categoriatwo",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `So enviar segunda categoria como futebol, basquete, tênis, gym ou lifestyle`, 'string') }}"
            },
            {
              "name": "categoriatree",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `So envia a terceira categoria caso exista futebol, basquete, tênis, gym ou lifestyle`, 'string') }}"
            },
            {
              "name": "tipo",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Envia o tipo quando esse for especificado como Estrada,Clay, Hard, Campo, Salão, AllTypes, Trilha, Atletismo`, 'string') }}"
            },
            {
              "name": "spec",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `especialidades : Controle, Velocidade, Equilibrado, Desempenho, Versátil,Estabilidade, Conforto, Estilo, Precisão. NUNCA ENVIA VALORES NUMERICOS AQUI`, 'string') }}"
            },
            {
              "name": "precoMax",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `Envia o preço máximo do tenis estipulado, bugdet maximo que o usuario pediu`, 'string') }}"
            },
            {
              "name": "cor",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `Envia as cor dos tenis`, 'string') }}"
            },
            {
              "name": "cor1",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `Envia outra cor de tenis se for necessário`, 'string') }}"
            },
            {
              "name": "cor2",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', `Envia outra cor de tenis se for necessário`, 'string') }}"
            },
            {
              "name": "cor3",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters9_Value', `Envia outra cor de tenis se for necessário`, 'string') }}"
            },
            {
              "name": "cor4",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters10_Value', `Envia outra cor de tenis se for necessário`, 'string') }}"
            },
            {
              "name": "produto",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters11_Value', `Nome Produto escolhido do cliente `, 'string') }}"
            },
            {
              "name": "produto1",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters12_Value', `Nome Produto escolhido do cliente `, 'string') }}"
            },
            {
              "name": "produto2",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters13_Value', `Nome Produto escolhido do cliente `, 'string') }}"
            },
            {
              "name": "produto3",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters14_Value', `Nome Produto escolhido do cliente `, 'string') }}"
            },
            {
              "name": "produto4",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters15_Value', `Nome Produto escolhido do cliente `, 'string') }}"
            },
            {
              "name": "produto5",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters16_Value', `Nome Produto escolhido do cliente `, 'string') }}"
            },
            {
              "name": "produto6",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters17_Value', `Nome Produto escolhido do cliente `, 'string') }}"
            },
            {
              "name": "sessionId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters18_Value', `envie o numero do sessionid`, 'string') }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3872,
        1344
      ],
      "id": "cde13ce3-57cf-46f3-9ece-79dea6838e7e",
      "name": "Https categoria cor,  preco e produto1"
    },
    {
      "parameters": {
        "toolDescription": "=Mandar para o checkout ",
        "method": "POST",
        "url": "=https://nike-web-store-backend-production.up.railway.app/chat/redirect-to-cart",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `envie o numero do sessionid`, 'string') }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1600,
        1344
      ],
      "id": "40b44aac-8547-4dc6-bf19-9f212e346345",
      "name": "IR para checkout"
    },
    {
      "parameters": {
        "toolDescription": "=Remove os produtos do carrinho",
        "method": "POST",
        "url": "https://nike-web-store-backend-production.up.railway.app/cart/postman-clear-frontend",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `envie o numero do sessionid`, 'string') }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2288,
        1360
      ],
      "id": "98692422-cf26-46bc-bef8-be29694c5e88",
      "name": "Remove do carrinho"
    },
    {
      "parameters": {
        "toolDescription": "=Envia quando o cliente quiser enviar múltiplos produtos para o carrinho passando o ID do produto",
        "method": "POST",
        "url": "https://nike-web-store-backend-production.up.railway.app/cart/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', `{\n  \"sessionId\": \"04a66038-c93c-43b2-9b96-3df1d546e265\",\n  \"id1\": 7,\n  \"quantidade1\": 2,\n  \"id2\": 10,\n  \"quantidade2\": 3,\n  \"id3\": 15,\n  \"quantidade3\": 1,\n  \"id4\": 20,\n  \"quantidade4\": 5,\n  \"id5\": 25,\n  \"quantidade5\": 4\n}`, 'json') }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3024,
        1344
      ],
      "id": "7491566d-d97f-47fb-ba33-7e7a74602e72",
      "name": "Enviar multiplos produtos carrinho",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        912,
        -128
      ],
      "id": "9af5dc88-154c-46aa-ac49-f07c5d915ce9",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1200,
        -128
      ],
      "id": "f329d34d-2c16-4366-826f-d4fb4f628f0d",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5db211b1-7293-451a-afd2-5ee77147fc20",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        944,
        64
      ],
      "id": "50ee2b6b-c829-49e0-9ddb-0bde2678f7de",
      "name": "Webhook1",
      "webhookId": "5db211b1-7293-451a-afd2-5ee77147fc20"
    },
    {
      "parameters": {
        "content": "## Reset Memory\n",
        "height": 536,
        "width": 944,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        -304
      ],
      "typeVersion": 1,
      "id": "277bde10-9572-462d-bff1-2b2577073d4b",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1600,
        -128
      ],
      "id": "ec5ee135-3bae-4d85-aead-4b65145e9eb4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1280,
        80
      ],
      "id": "313ca98a-bbc8-4fc8-8aa0-c2980370ea43",
      "name": "Simple Memory7"
    },
    {
      "parameters": {
        "content": "## Assistent - pega as verdadeiras intencoes do usuario",
        "height": 624,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        272
      ],
      "typeVersion": 1,
      "id": "b99fd115-5bd7-4545-9cc8-e4abffbad7c0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Agente Oquestrador\n",
        "height": 624,
        "width": 976,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        272
      ],
      "typeVersion": 1,
      "id": "a46e779c-ca63-4b0a-8082-dbd92b8e8b21",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Agente Informativo\n\n** Busca todas as info do site/Empresa para informa o cliente\n",
        "height": 480,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        1040
      ],
      "typeVersion": 1,
      "id": "1ef39b76-d9b0-4ee8-957a-b9dac439fa19",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Agente de chekout\n\n**Confirma os itens do carrinho e redireciona pro carrinho\n\n\n",
        "height": 480,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        1040
      ],
      "typeVersion": 1,
      "id": "1c99110d-8ff7-4f54-b189-9b125a3fcb57",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Agente Removedor\n**Confirma os itens que o usuario quer deletar e atualiza o carrinho do usuario\n\n\n",
        "height": 480,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        1040
      ],
      "typeVersion": 1,
      "id": "791272bb-6cea-4080-a8ce-f31dd6a6e387",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Agente ADC\n**Confirma os itens que o usuario quer busca no banco de dados o ids e adiciona no carrinho",
        "height": 480,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2576,
        1040
      ],
      "typeVersion": 1,
      "id": "e885c55e-3b70-4522-aa41-2f067df09956",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Agente Navegador\n**usa as informacoes de categoria, tipo, cor, especialidade para navegar no site\n",
        "height": 480,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3408,
        1040
      ],
      "typeVersion": 1,
      "id": "cb938bfc-8e70-4986-86b2-418535fe2a12",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "![Texto Alternativo](https://static.nike.com/a/images/f_auto/160fb241-b86b-48b0-bdc8-27189e14e3be/image.png)",
        "height": 624,
        "width": 976,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2928,
        272
      ],
      "typeVersion": 1,
      "id": "1666558e-814a-4b22-be1d-ef34b630d41e",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "![Texto Alternativo](https://media.licdn.com/dms/image/v2/D4D0BAQFyXbo2CfC0qA/company-logo_200_200/B4DZeCu7gvHMAM-/0/1750245030451/vanaciprime_logo?e=1756944000&v=beta&t=m-5ABFoyNW7y0padCWd7ASdDsaKW3wN2rR_OWUiZZrM)",
        "height": 240,
        "width": 230,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        624
      ],
      "typeVersion": 1,
      "id": "6a6ef0ea-e97b-4674-9e00-fb7534d58e88",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "👟 Resumo do Fluxo do Assistente Virtual\nEste workflow automatiza um assistente de vendas para uma loja de tênis, guiando o cliente desde a pergunta inicial até a finalização da compra.\n\n1. Início da Conversa (Webhook)\nO fluxo é iniciado quando um cliente envia uma mensagem (POST). O Webhook captura essa mensagem e um sessionId único para acompanhar a conversa.\n\n2. Agente Reescritor (Clarificador de Intenção)\nA mensagem do cliente passa primeiro por um agente de IA (Reescritor) que a expande para garantir clareza.\n\nPor exemplo, \"quero o azul\" é transformado em \"Sim, eu quero o tênis azul\".\n\n3. Agente Orquestrador (O Cérebro do Sistema)\nCom a intenção clara, a mensagem é enviada ao agente principal (AI Agent1). Este agente decide qual ferramenta usar para responder da melhor forma à solicitação do cliente.\n\n⚙️ Funcionalidades (Ferramentas do Agente)\nO agente orquestrador tem acesso às seguintes ferramentas para executar ações:\n\n🔎 Busca de Produtos: Filtra e localiza tênis com base em categoria (futebol, corrida, etc.), cor, preço, tipo e especificações.\n\n🛒 Adicionar ao Carrinho: Identifica o ID do produto no banco de dados (Supabase) e o adiciona ao carrinho de compras do cliente.\n\n🗑️ Remover do Carrinho: Limpa todos os itens do carrinho.\n\n💳 Finalizar Compra: Redireciona o cliente para a página de checkout para concluir o pedido.\n\nℹ️ Consulta de Informações: Busca no banco de dados (Supabase) informações gerais sobre produtos ou sobre a loja.\n\n🚀 Em Resumo\nO workflow atua como um vendedor virtual completo: ele recebe a solicitação do cliente, a interpreta, busca produtos, gerencia o carrinho de compras e o auxilia até a finalização do pedido de forma eficiente e automatizada.",
        "height": 640,
        "width": 976,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2928,
        -384
      ],
      "typeVersion": 1,
      "id": "1bca3593-3966-4a70-83c8-196eb31731ad",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "![Texto Alternativo](https://media.licdn.com/dms/image/v2/D4D3DAQGemj1O0Exd3A/image-scale_191_1128/B4DZeDTDwaHkAc-/0/1750254503748/vanaciprime_cover?e=1754668800&v=beta&t=C2jc-xB2y80RP5EgCxTuyKsIk03KV31BzP0OZDXRxTI)",
        "height": 208,
        "width": 976,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        32
      ],
      "typeVersion": 1,
      "id": "14ea18fd-1a08-4dbb-b17e-2c7c0e0777e7",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "produtos_teste",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        928,
        1312
      ],
      "id": "40eeff39-8678-418f-af9b-9d7013f3f4fb",
      "name": "get tenis info",
      "credentials": {
        "supabaseApi": {
          "id": "fiMYjQZqfmXpPi6Z",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        672,
        1312
      ],
      "id": "6be85f29-2340-4818-9112-b49407909fb6",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "KybFOnpkjpQqVkPG",
          "name": "Vannaci"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1392,
        1344
      ],
      "id": "e2806282-adb2-4405-af71-d704adaa1c08",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "KybFOnpkjpQqVkPG",
          "name": "Vannaci"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2048,
        1360
      ],
      "id": "45e2e695-07ff-4c2f-bd24-e188115e11d4",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "KybFOnpkjpQqVkPG",
          "name": "Vannaci"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1296,
        656
      ],
      "id": "7413e10b-0545-4624-a8ec-bd6a36ac8d03",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "KybFOnpkjpQqVkPG",
          "name": "Vannaci"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2048,
        608
      ],
      "id": "8fc73e0f-37d8-43bd-a05c-d56deda85314",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "KybFOnpkjpQqVkPG",
          "name": "Vannaci"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3456,
        1392
      ],
      "id": "5d579c2b-328a-4004-950a-f00a8a8d6a19",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "KybFOnpkjpQqVkPG",
          "name": "Vannaci"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "produtos_teste",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "produto",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', `Nome do tênis que esta procurando`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        3680,
        1344
      ],
      "id": "e47d4586-6f69-4147-9ff1-d5cc3311c90d",
      "name": "get tenis navegador",
      "credentials": {
        "supabaseApi": {
          "id": "fiMYjQZqfmXpPi6Z",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2656,
        1344
      ],
      "id": "6279b7a3-71da-4817-a34d-c7abb9963b74",
      "name": "OpenRouter Chat Model6",
      "credentials": {
        "openRouterApi": {
          "id": "KybFOnpkjpQqVkPG",
          "name": "Vannaci"
        }
      }
    },
    {
      "parameters": {
        "description": "use para reunir as informações e mande para as outras tools"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2176,
        608
      ],
      "id": "c02f267f-c551-4546-8e81-1fdd11c62fa0",
      "name": "Think"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Reescritor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory5": {
      "ai_memory": [
        [
          {
            "node": "Reescritor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reescritor": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adc_Carrinho": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Busca_Categoria": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "remove": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "chekout": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Https categoria cor,  preco e produto1": {
      "ai_tool": [
        [
          {
            "node": "Busca_Categoria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "IR para checkout": {
      "ai_tool": [
        [
          {
            "node": "chekout",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Remove do carrinho": {
      "ai_tool": [
        [
          {
            "node": "remove",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar multiplos produtos carrinho": {
      "ai_tool": [
        [
          {
            "node": "Adc_Carrinho",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory7": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get tenis info": {
      "ai_tool": [
        [
          {
            "node": "Info",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Info",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "chekout",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "remove",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Reescritor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Busca_Categoria",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get tenis navegador": {
      "ai_tool": [
        [
          {
            "node": "Busca_Categoria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Adc_Carrinho",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "primary-8ft9-production.up.railway.app",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
          "content-length": "68",
          "accept": "application/json, text/plain, */*",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7,und;q=0.6",
          "content-type": "application/json",
          "origin": "http://localhost:4200",
          "priority": "u=1, i",
          "referer": "http://localhost:4200/",
          "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "x-forwarded-for": "85.245.84.63",
          "x-forwarded-host": "primary-8ft9-production.up.railway.app",
          "x-forwarded-proto": "https",
          "x-railway-edge": "railway/europe-west4-drams3a",
          "x-railway-request-id": "iE6PgD5-QLqfnPB5m3z_FQ",
          "x-real-ip": "85.245.84.63",
          "x-request-start": "1753104125974"
        },
        "params": {},
        "query": {},
        "body": {
          "message": "ool",
          "sessionId": "99c986ff-f698-40ba-b0e2-2954b7390aae"
        },
        "webhookUrl": "https://primary-8ft9-production.up.railway.app/webhook-test/14c45198-1805-44a8-9ed6-89739969a274",
        "executionMode": "test"
      }
    ],
    "Webhook1": [
      {
        "headers": {
          "host": "primary-8ft9-production.up.railway.app",
          "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
          "content-length": "52",
          "accept": "application/json, text/plain, */*",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
          "content-type": "application/json",
          "origin": "http://localhost:4200",
          "priority": "u=1, i",
          "referer": "http://localhost:4200/",
          "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"macOS\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "x-forwarded-for": "144.64.98.132",
          "x-forwarded-host": "primary-8ft9-production.up.railway.app",
          "x-forwarded-proto": "https",
          "x-railway-edge": "railway/europe-west4-drams3a",
          "x-railway-request-id": "reGY4dhYQvOyGgtsss7a6g",
          "x-real-ip": "144.64.98.132",
          "x-request-start": "1753348557213"
        },
        "params": {},
        "query": {},
        "body": {
          "sessionId": "797f7c50-333b-4c60-96bc-1d3247693d76"
        },
        "webhookUrl": "https://primary-8ft9-production.up.railway.app/webhook-test/5db211b1-7293-451a-afd2-5ee77147fc20",
        "executionMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99bf0584ce1eea9ffb8b6be12b7ccfccce934d6c4ebf9c6c8c035bf370f300b0"
  }
}