vana-pharma.json
{
  "name": "vana-pharma",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "farmacia-chat",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1648,
        -656
      ],
      "id": "78cc530f-fd26-47e8-8b67-a10d07b255f2",
      "name": "Webhook Entrada",
      "webhookId": "farmacia-chat-webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://vanaci-task-2.vercel.app/api/warmup",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1456,
        -656
      ],
      "id": "warmup-node-12345",
      "name": "Warmup App"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1280,
        -432
      ],
      "id": "86a7faa8-9777-45ed-b690-36cfaf78ca5a",
      "name": "Reescritor Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Você é um Agente de Clareza de Mensagens para uma farmácia. Sua principal função é reescrever e expandir as mensagens curtas ou ambíguas dos clientes para torná-las mais compreensíveis e interpretáveis, mantendo sempre a intenção original.\n\nSeu objetivo é garantir que cada comunicação do cliente seja inequívoca, como se o cliente tivesse falado de forma completa e detalhada desde o início.\n\nRegras Essenciais:\n\n1. Preservar a Intenção: Nunca altere o significado ou a intenção por trás da mensagem original do cliente.\n2. Contexto de Farmácia: As interações serão sobre medicamentos, produtos farmacêuticos, carrinho de compras, etc.\n3. Expansão Consciente:\n   - Afirmações Curtas: Se o cliente disser \"sim\", \"quero\", \"ok\", expanda para algo como \"Sim, eu quero isso\".\n   - Pedidos Específicos: Se o cliente mencionar apenas um medicamento, adicione contexto. Ex: \"dipirona\" deve ser \"Eu gostaria de comprar dipirona\".\n   - Negativas: Se o cliente disser \"não\", expanda para \"Não, eu não quero isso\".\n\n4. Linguagem Natural e Profissional: As mensagens reescritas devem soar naturais e manter um tom profissional.\n\nExemplos:\n- Cliente: \"sim\" → \"Sim, eu quero isso.\"\n- Cliente: \"dipirona\" → \"Eu estou procurando dipirona.\"\n- Cliente: \"adicionar carrinho\" → \"Eu gostaria de adicionar este produto ao carrinho.\"\n\nSua tarefa é receber a mensagem do cliente e fornecer apenas a versão reescrita e clara dessa mensagem."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1232,
        -656
      ],
      "id": "0713b389-631a-47a2-8897-e5bdeb92b3c9",
      "name": "Reescritor"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook Entrada').item.json.body.sessionId }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -656,
        -480
      ],
      "id": "00f90cd2-1f5a-4ddb-a5c5-b7ae495fcea8",
      "name": "Orquestrador Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook Entrada').item.json.body.message }}",
        "options": {
          "systemMessage": "Você é o agente principal da Farmácia Vanaci. Sua função é coordenar e delegar tarefas para agentes especializados.\n\nVocê tem acesso aos seguintes agentes especializados:\n\n- AgenteBuscarProdutos: Para buscar medicamentos, suplementos e produtos farmacêuticos\n- AgenteGerenciarCarrinho: Para adicionar, remover ou visualizar itens no carrinho\n- AgenteFinalizarCompra: Para processar checkout e finalizar pedidos\n- AgenteNavegacao: Para ajudar na navegação do site\n- AgenteRemoverItens: Para remover produtos específicos do carrinho\n\nQuando o cliente fizer uma solicitação, analise a intenção e delegue para o agente apropriado. Nunca execute tarefas diretamente - sempre use os agentes especializados.\n\nSeja profissional, atencioso e focado em saúde e bem-estar dos clientes. Mantenha as respostas claras e diretas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -336,
        -656
      ],
      "id": "cb02c6af-4e2a-46e5-b376-2a3b0dd7e19d",
      "name": "Farmacia Orquestrador",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vanaci-task-2.vercel.app/api/chat-response",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $('Webhook Entrada').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 60000,
          "retry": {
            "count": 5,
            "delay": 3000
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        -656
      ],
      "id": "4640565c-51ee-4616-9616-e7e942c96136",
      "name": "Resposta Final"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "maxTokens": 800,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -960,
        -432
      ],
      "id": "e81df914-01da-45ad-8454-10837396a9a9",
      "name": "Reescritor LLM",
      "credentials": {
        "mistralCloudApi": {
          "id": "suklTPCIkZypt6fr",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "maxTokens": 1000,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -416,
        -464
      ],
      "id": "9d2dd6fb-08af-42bd-b50e-49acf9c72e53",
      "name": "Orquestrador LLM",
      "credentials": {
        "mistralCloudApi": {
          "id": "suklTPCIkZypt6fr",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "maxTokens": 600,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -1024,
        112
      ],
      "id": "86bc37e8-dc37-4b64-8882-9163a059c9fc",
      "name": "BuscarProdutos LLM",
      "credentials": {
        "mistralCloudApi": {
          "id": "suklTPCIkZypt6fr",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "maxTokens": 600,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -512,
        80
      ],
      "id": "4fb18c23-fb5c-48e0-8f07-5f93a8d9d42d",
      "name": "GerenciarCarrinho LLM",
      "credentials": {
        "mistralCloudApi": {
          "id": "suklTPCIkZypt6fr",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "maxTokens": 600,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -64,
        112
      ],
      "id": "f1b5373d-f0d1-4f84-b2e1-35cab2ebc991",
      "name": "FinalizarCompra LLM",
      "credentials": {
        "mistralCloudApi": {
          "id": "suklTPCIkZypt6fr",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "maxTokens": 600,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        560,
        32
      ],
      "id": "2cf16923-5162-4849-89b7-129550313d20",
      "name": "Navegacao LLM",
      "credentials": {
        "mistralCloudApi": {
          "id": "suklTPCIkZypt6fr",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "maxTokens": 600,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1008,
        16
      ],
      "id": "7a59abd5-bfc4-4902-857e-d0878c81c499",
      "name": "RemoverItens LLM",
      "credentials": {
        "mistralCloudApi": {
          "id": "suklTPCIkZypt6fr",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -112,
        -464
      ],
      "id": "08a547c6-9ba0-49ba-a865-0f7169185aec",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -912,
        240
      ],
      "id": "e4dfa47e-9366-47c6-a13b-aec5d5d0f836",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "http://localhost:3007/api/products",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $json.searchTerm }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $('Webhook Entrada').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 60000,
          "retry": {
            "count": 5,
            "delay": 3000
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -752,
        192
      ],
      "id": "fbf24a56-5425-458e-b039-aec4191ec0c4",
      "name": "buscarProdutos"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Você é o agente especializado em busca de produtos da Farmácia Vanaci. Sua única função é processar solicitações de busca de medicamentos, suplementos e produtos farmacêuticos.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1040,
        -32
      ],
      "id": "dcbf1abf-3619-42b2-b683-bdd65b870567",
      "name": "AgenteBuscarProdutos"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Você é o agente especializado em gerenciamento de carrinho da Farmácia Vanaci. Sua função é processar todas as operações relacionadas ao carrinho de compras.\n\nOperações que você pode realizar:\n- Adicionar produtos ao carrinho\n- Visualizar itens do carrinho\n- Atualizar quantidades\n- Calcular totais\n\nSempre confirme as ações realizadas e forneça feedback claro sobre o estado atual do carrinho."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -512,
        -96
      ],
      "id": "ce70f094-d382-4cd6-8713-4f3061c8ad58",
      "name": "AgenteGerenciarCarrinho"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -416,
        208
      ],
      "id": "29fad54e-d6a1-4990-9001-1713d6850a3f",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "url": "http://localhost:3007/api/cart",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "productId",
              "value": "={{ $json.productId }}"
            },
            {
              "name": "quantity",
              "value": "={{ $json.quantity }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $('Webhook Entrada').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 60000,
          "retry": {
            "count": 5,
            "delay": 3000
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -288,
        80
      ],
      "id": "fb262db0-d28b-4025-b19d-a8ed495f2c5e",
      "name": "gerenciarCarrinho"
    },
    {
      "parameters": {
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "Você é o agente especializado em finalização de compras da Farmácia Vanaci. Sua função é processar checkouts e finalizar pedidos.\n\nQuando processar uma compra:\n1. Verifique se há itens no carrinho\n2. Calcule o total final\n3. Processe o checkout\n4. Confirme o pedido\n5. Limpe o carrinho após confirmação\n\nSempre forneça um resumo claro da compra realizada e número de confirmação."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -48,
        -112
      ],
      "id": "e4422067-d661-4b94-8d3d-ad2bed37e3a7",
      "name": "AgenteFinalizarCompra1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        112
      ],
      "id": "85b63ecb-c783-4705-9a59-b76b586ee1f6",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "url": "http://localhost:3007/api/cart/checkout",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ $('Webhook Entrada').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 60000,
          "retry": {
            "count": 5,
            "delay": 3000
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        224,
        64
      ],
      "id": "7160edda-83b8-4b41-88fc-a59f7556e7ee",
      "name": "finalizarCompra1"
    },
    {
      "parameters": {
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "Você é o agente especializado em navegação da Farmácia Vanaci. Sua função é ajudar clientes a navegar pelo site e encontrar seções específicas.\n\nVocê pode ajudar com:\n- Localizar seções do site\n- Explicar como usar funcionalidades\n- Fornecer orientações de navegação\n- Direcionar para páginas específicas\n\nSempre forneça instruções claras e diretas para ajudar o cliente a encontrar o que precisa."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        560,
        -192
      ],
      "id": "d58a4127-3b0d-4bef-b0a0-f23209df486c",
      "name": "AgenteNavegacao1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        672,
        32
      ],
      "id": "eee18d5e-e898-4665-aaf9-870c23518cd9",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "url": "http://localhost:3007/api/navigation",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $('Webhook Entrada').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 60000,
          "retry": {
            "count": 5,
            "delay": 3000
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        768,
        -16
      ],
      "id": "74706a0e-db00-41ae-8496-c02df1d9a395",
      "name": "navegacaoSite1"
    },
    {
      "parameters": {
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "Você é o agente especializado em remoção de itens do carrinho da Farmácia Vanaci. Sua função é processar solicitações de remoção de produtos específicos.\n\nQuando processar uma remoção:\n1. Identifique o produto a ser removido\n2. Confirme a remoção com o cliente\n3. Execute a remoção\n4. Atualize o carrinho\n5. Confirme a ação realizada\n\nSempre peça confirmação antes de remover itens e forneça feedback claro sobre o estado do carrinho após a remoção."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1024,
        -192
      ],
      "id": "ab1411fa-7ab1-4a79-bbb4-6323d69d2d9d",
      "name": "AgenteRemoverItens1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1136,
        112
      ],
      "id": "6bc235d3-1869-478b-a2e0-a540052e5318",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "url": "http://localhost:3007/api/cart/remove",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "productId",
              "value": "={{ $json.productId }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $('Webhook Entrada').item.json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 60000,
          "retry": {
            "count": 5,
            "delay": 3000
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1184,
        16
      ],
      "id": "e695e22e-1de8-44c0-a788-7b0da1f6695f",
      "name": "removerItens1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Entrada": {
      "main": [
        [
          {
            "node": "Warmup App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warmup App": {
      "main": [
        [
          {
            "node": "Reescritor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reescritor": {
      "main": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Farmacia Orquestrador": {
      "main": [
        [
          {
            "node": "Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reescritor Memory": {
      "ai_memory": [
        [
          {
            "node": "Reescritor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reescritor LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Reescritor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Orquestrador Memory": {
      "ai_memory": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Orquestrador LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "BuscarProdutos LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteBuscarProdutos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GerenciarCarrinho LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteGerenciarCarrinho",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "FinalizarCompra LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteFinalizarCompra1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Navegacao LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteNavegacao1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RemoverItens LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteRemoverItens1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AgenteBuscarProdutos",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "buscarProdutos": {
      "ai_tool": [
        [
          {
            "node": "AgenteBuscarProdutos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AgenteBuscarProdutos": {
      "ai_tool": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AgenteGerenciarCarrinho": {
      "ai_tool": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AgenteGerenciarCarrinho",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "gerenciarCarrinho": {
      "ai_tool": [
        [
          {
            "node": "AgenteGerenciarCarrinho",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AgenteFinalizarCompra1": {
      "ai_tool": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AgenteFinalizarCompra1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "finalizarCompra1": {
      "ai_tool": [
        [
          {
            "node": "AgenteFinalizarCompra1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AgenteNavegacao1": {
      "ai_tool": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AgenteNavegacao1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "navegacaoSite1": {
      "ai_tool": [
        [
          {
            "node": "AgenteNavegacao1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AgenteRemoverItens1": {
      "ai_tool": [
        [
          {
            "node": "Farmacia Orquestrador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "AgenteRemoverItens1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "removerItens1": {
      "ai_tool": [
        [
          {
            "node": "AgenteRemoverItens1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "560ced1d-e702-4421-9ce3-66a00d5ef180",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ba7c85f7f3161f9599fb286b1fe95ab6ddf63d5b47930f2089ebc19745ae2a0a"
  },
  "id": "LkFA6pgkPTJkoi8V",
  "tags": []
}